module.exports = {
  // AWS credentials
  "AWS_ACCESS_KEY_ID": "",
  "AWS_SECRET_ACCESS_KEY": "",
  "S3_BUCKET": "",

  // CDN path
  "CDN_ROOT": "",

  // Environment
  "NODE_ENV": "development",

  // Server port
  "PORT": 5000,

  // Redis connection URL (named for convenience with Heroku)
  "REDISTOGO_URL": "redis://localhost:6379",

  // Redis key namespace
  "REDIS_NAMESPACE": "img-server",

  // Redis lock variables
  "LOCK_INTERVAL": 200,
  "LOCK_WAIT_TIMEOUT": 2000
}